<div id="article">
    <%_ articles.forEach(function(item){ -%>
        <a target="_blank" class="a_container" href="<%=item.href%>">
            <div class="pointer"></div>
            <div class="a_item">
                <div class="article-title"><%-item.title%></div>
                <div class="article-content">
                    <%-item.content%>
                </div>
            </div>
        </a>
    <%_ }); -%>
</div>