<div id="contact">
    <div class="contact_btn">
        <%_ contact.forEach(function(btn){ -%>
            <a target="_blank" class="a_btn" href="<%=btn.href%>"><span class="<%=btn.iconClass%>"><%=btn.name%></span></a>
        <%_ }); -%>
    </div>
</div>