<div id="works">
    <%_ works.forEach(function(item){ -%>
        <a target="_blank" class="a_container" href="<%=item.href%>">
            <div class="pointer"></div>
            <div class="a_item">
                <div class="works-title article-title"><%-item.title%></div>
                <div class="works-content article-content">
                    <%-item.content%>
                </div>
            </div>
        </a>
    <%_ }); -%>
</div>