<!DOCTYPE html>
<!--
 * Tenyding's Page
 * Last Update: 2024-10-12
 * GitHub: https://github.com/li1055107552/
 * Made with love by AyagawaSeirin [https://owomoe.net/]
 * UI 参考 AyagawaSeirin，如果你也想使用，在她的公开仓库内即可找到源码。您可以任意修改，但请注明原作者。指路：[https://github.com/AyagawaSeirin/homepage]
-->

<html lang="en">
<%-_headHTML-%>

<body>
    <div class="background"></div>
    <div class="main">
        <div class="container">
            <%-left_containerHTML-%>
            <%-right_containerHTML-%>
        </div>
    </div>
</body>

</html>